#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: black;
}


.sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sub-grid > div {
  background-color: black;
  padding: 10px;
  
}


body {
  background-color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.container {
  background-color: white;
  padding: 10px;
}

.big{
  color: black;
  text-align: left;
}

.container > div {
  margin-bottom: 10px;
}

.title{
color: rgb(108, 108, 108);
text-align: left;
padding: 10px;
display: flex;
align-items: center;
}

.title img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.title1{
  color: black;
  text-align: left;
  padding: 10px;
  /* font-size: 50%; */
}

.Background {
  min-height: 200px;
  min-width: 800px;
  padding: 30px;
  border-radius: 20px;
  border: 0.5px solid rgb(218, 218, 218);

}

.title {
  color: rgb(120, 120, 120);
  text-align: left;
  padding: 10px;
  display: flex;
  align-items: center;
}

.title:hover {
  color: rgb(0, 0, 0); /* Change text color to blue on hover */
}

.title:active {
  color: rgb(255, 0, 0); /* Change text color to red on click */
}
